@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playwrite+NZ+Basic+Guides&display=swap');
h1 {
    font-family: "Edu NSW ACT Cursive", cursive;
    text-shadow: 3px 4px 3px #FF0000;
}
.p1 {
    font-family: "Archivo Black", sans-serif;
    text-shadow: 2px 3px 2px #0000FF;
}
.p2 {
    font-family: "Playwrite NZ Basic Guides", cursive;
    text-shadow: 1px 2px 1px #00FF00;
}