@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playwrite+NZ+Basic+Guides&display=swap');


h1 {
    font-family: "Archivo Black", sans-serif;
    text-align: center;
}
.quote {
    font-family: "Playwrite NZ Basic Guides", cursive;
}
.author {
    font-family: "Edu NSW ACT Cursive", cursive;
    text-align: right;
}