@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: "Epilogue", sans-serif;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
}
#body {
    width: 1300px;
    height: 820px;
    background-color: white;
}
#headerdiv {
    display: flex;
    align-items: center;
    gap: 55px;
}
ol {
    display: flex;
    align-items: center;
    gap: 34px;
    list-style: none;
    opacity: 80%;
    font-size: 13px;
    font-weight: 600;
}
#buttondiv {
    display: flex;
    align-items: center;
    gap: 35px;
    
}
h2 {
    font-size: 32px;
}
.btn {
    color: rgb(98,94,94);
    opacity: 90%;
    font-weight: 600;
}
#login {
    border: none;
    background-color: white;
    font-size: 12px;
}

#reg { 
    border-radius: 12px;
    border: 1px solid black;
    padding: 10px 18px;
    background-color: white;
    font-size: 13px;
}
.maindiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 100px; */
    padding: 40px 140px;
}
#mainimg {
    width: 430px;
    margin-left: 100px;
}
.textdiv {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 430px;
    align-items: start;
    justify-content: space-between;
}
.imgdiv {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}
h1 {
    font-size: 70px;
}
.maindiv button {
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 145px;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
}
.maindiv p {
    opacity: 60%;
    font-weight: 500;
    line-height: 1.5;
}
.imgdiv img {
    width: 100px;
}