#firsth2 {
    color: blue;
    font-size: 24px;
}

#secondh2 {
    color: red;
    font-size: 30px;
}

#first-paragraph {
    color: green;
    font-size: 16px;
}

#second-paragraph {
    color: purple;
    font-size: 18px;
}

#third-paragraph {
    color: orange;
    font-size: 20px;
}

