.parent {
    width: 600px;
    height: 600px;
    border: 2px solid red;
    display: grid;
    grid-template-rows: 200px 400px;
    grid-template-columns: 100px 500px;
}
.d1 {
    background-color: aqua;
}
.d2 {
    background-color: blue;
}
.d3 {
    background-color: rgb(169, 84, 225);
}
.d4 {
    background-color: black;
}