@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playwrite+NZ+Basic+Guides&display=swap');
li:hover {
    font-family: "Playwrite NZ Basic Guides", cursive;
    background-color: yellow;
    text-transform: uppercase;
    display: inline;
}