.parent {
    height: 300px;
    width: 300px;
    border: 2px solid red;
    display: flex;
    align-items: center;
}
.child {
    height: 50px;
    width: 50px;
    background-color: aqua;
}
#two {
    align-self: self-start;
}