ol #car1{
    color: rgb(64, 230, 13);
}
ol #car2{
    color: rgb(255, 100, 100);
}
ol #car3{
    color: rgb(100, 100, 255);
}
ol #car4{
    color: rgb(255, 255, 100);
}
ol #car5{
    color: rgb(252, 0, 189);
}